# Default env variables for development

# POSTGRES
## CREDENTIALS (Mandatory for container)

POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=postgres

## ACCESS

PG_HOST=localhost
PG_PORT=5432

# LANGCHAIN

## CREDENTIALS

GOOGLE_API_KEY=

## EMBEDDING CONFIG

EMBEDDING_MODEL=gemini-embedding-001
DIMENSIONS=128
